<div class="container mt-4">
    <div class="text-center">

        <mat-spinner *ngIf="loading"></mat-spinner>
    </div>

    <!-- <div class="row row-cols-1 row-cols-1-md-2">
        <div class="col col-12 col-md-6" *ngFor="let course of courses" align="center">
            <mat-card class="example-card mb-4">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{ course.courseTitle }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://picsum.photos/1200/800" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
    </mat-card-content>
    <mat-card-footer class="mt-2">
        <div class="progress" *ngIf="course.progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                aria-label="Animated striped example" aria-valuenow="course.progress" aria-valuemin="0"
                aria-valuemax="100" style="width: {{ course.progress }}%"> {{course.progress}} %</div>
        </div>
    </mat-card-footer>
    <mat-card-actions>
        <button mat-button (click)="openLinkInNewWindow(course.courseId)" *ngIf="course.completionStatus != 'complete'">
            {{ course.completionStatus == 'in_progress' ? 'Continuar' : 'Empezar' }}
        </button>
    </mat-card-actions>
    </mat-card>
</div>
</div> -->


    <div class="row row-cols-1 row-cols-1-md-2">
        <div class="col col-12 col-md-6" *ngFor="let course of courses">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://picsum.photos/800/1200" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ course.courseTitle }}</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">{{ course.completionStatus }}</small></p>
                            <div class="progress" *ngIf="course.progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    aria-label="Animated striped example" aria-valuenow="course.progress"
                                    aria-valuemin="0" aria-valuemax="100" style="width: {{ course.progress }}%">
                                    {{course.progress}} %</div>
                            </div>
                            <div class="row">
                                <button mat-button (click)="openLinkInNewWindow(course.courseId)"
                                    *ngIf="course.completionStatus != 'complete'">
                                    {{ course.completionStatus == 'in_progress' ? 'Continuar' : 'Empezar' }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>