<div class="containerz" >
  <div class="container">
  
      <mat-card class="card-body">
        <div class="evaIcon">
          <div class="col-md-12 center-div" >
            <img
              src="assets/logo/logo_trinitas.jpg"
              style="width: 25%;margin-top: 5%;"
              alt="Logo_Trinitas"
            />
       
          </div><br>
          <i class="fas fa-file"></i>
          <span class="estilo-title">Examen De Prevencion de lavado de dinero</span>
        </div>
    
      <div *ngIf="start==false" style="padding:3%">
        
        <app-grid
        [columnDefs]="columnDefs"
        [rowData]="PLDData"
        [enableDelete]="false"
        [enableEdit]="false"
        (actionEvent)="onActionEvent($event)"
        exportTitle="Examenes"
      ></app-grid>
      </div>
      <div *ngIf="start==true">
        <div class="row row-cols-1  mt-2" >
          <div class="col">
              <p>
                  <img mat-card-image src="./assets/img/trinitas-logo.png" style="max-width: 150px;">
              </p>
          </div>

          <div class="col">
              <span class="header-1"> Prevención de lavado de dinero.</span>
          </div>
      </div>
      <div style="padding: 5%">
        <div class="col">
          <span class="header-1"> Exámen PLD</span>
      </div>
      <div class="small-1">
        Asegúrate de tener una
        conexión estable
        y tiempo suficiente para responder todas las preguntas
    </div>
      <p class="card-title">
        <!-- {{exam_info.description }} -->
        Recuerda que la calificación mínima aprobatoria es de 80.
    </p>
    <mat-card-actions class="mt-4" align="start">

      <button type="button" class="btn btn-success" >
          Empezar
          <mat-icon>arrow_forward</mat-icon>
      </button>
  </mat-card-actions>
    <p class="card-text">
        <small>
            Lee detenidamente cada una de las preguntas y selecciona la respuesta correcta.
            Una vez iniciado
            el examen no podrá interrumpirse, asegúrate de tener una conexión a internet estable.
        </small>
    </p>
  </div>
</div>
      </mat-card>
   
  </div>
  
</div>