<!-- personal360.component.html -->
<div class="bgImageContainer2"></div>
<div style="padding: 2%;padding-left: 8%;" >

  <mat-card  ><app-loading *ngIf="isLoading"></app-loading>
    <div>

    </div>
    <div style="display: flex; flex-direction: column; align-items: center;padding-left: 10%;padding-right: 10%;">
      <div id="contentToConvert">
        <div >
      <div class="report-header">
<div>
  <div class="row text-left">
    <div class="col-4 text-left">
      <img src="assets/logo/logo_trinitas.jpg" alt="Logo_Trinitas" />
    </div>
    <div class="col-8 text-left">
      <div class="title">Reporte 360:</div>
      <p class="titleEvaluation">{{ response.evaluation.name }}</p>
      <div class="title">{{ response.evaluator.name }}</div>
  <div class="row">
<div class="col">
  <span>Nombre: {{ response.user.collaborator_name }}</span>
</div>
<div class="col">
  <span>Correo: {{ response.user.email }}</span>
</div>
  </div>
    </div>
  </div><br/>
  <div class="table-container">
    <div class="table-row">
      <div class="table-col">
        <div class="info-title">Promedio</div>
        <div class="info-value">{{ response.general_average }}</div>
      </div>
      <div class="table-col">
        <div class="info-title">Promedio sin Auto evaluación</div>
        <div class="info-value">{{ (response.general_average - evaluatorData.Autoevaluacion).toFixed(2) }}</div>
      </div>
    </div>
  </div>
<br/>
      <button type="button" class="btn btn-success" (click)="back()">Regresar</button>
      &nbsp; &nbsp;   
      <button type="button" class="btn btn-success" (click)="convertToPDF()">Descargar</button>
      &nbsp; &nbsp;   
      <button *ngIf="rol=='true'" type="button" class="btn btn-success" (click)="postApproved()">Aprobar</button>
</div>
     </div>
      <div style="display: block; text-align: center;" >
    <div class="table-responsive">
     
      <table class="table">
        <thead>
          <tr>
            <th>Aspecto</th>
            <th>Líder</th>
            <th>Colaborador</th>
            <th>Lateral</th>
            <th>Cliente</th>
            <th>Autoevaluación</th>
            <th>Promedio</th>
            <th>Sin Autoevaluación</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aspecto of tableLabels">
            <td>{{ aspecto }}</td>
            <td>{{ generalData[aspecto]?.Lider || 0 }}</td>
            <td>{{ generalData[aspecto]?.Colaborador|| 0 }}</td>
            <td>{{ generalData[aspecto]?.Lateral || 0 }}</td>
            <td>{{ generalData[aspecto]?.Cliente || 0 }}</td>
            <td>{{ generalData[aspecto]?.Autoevaluacion || 0 }}</td>
            <td style="color:green;font-weight: bold;">{{ promedioData[aspecto]|| 0 }}</td>
            <td style="color:green;font-weight: bold;">{{ (promedioData[aspecto]-generalData[aspecto]?.Autoevaluacion ).toFixed(2)|| 0 }}</td>

          </tr>
          <tr>
            <td>Promedio Total</td>
            <td>{{ evaluatorData.Lider || 0 }}</td>
            <td>{{ evaluatorData.Colaborador|| 0 }}</td>
            <td>{{ evaluatorData.Lateral || 0 }}</td>
            <td>{{ evaluatorData.Cliente || 0 }}</td>
            <td>{{ evaluatorData.Autoevaluacion || 0 }}</td>
            <td style="color:red;font-weight: bold;">{{ response.general_average || 0 }}</td>
            <td style="color:red;font-weight: bold;">{{ (response.general_average -evaluatorData.Autoevaluacion ).toFixed(2)|| 0 }}</td>


          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
    <div class="table-responsive" id="tables">
     
      <table class="table" id="converttable">
        <thead>
          <tr>
            <th>Pregunta</th>
            <th>Seccion</th>
            <th>Lider</th>
            <th>Autoevaluacion</th>
            <th>Lateral</th>
            <th>Cliente</th>
            <th>Colaborador</th>
            <th>Promedio</th>
            <th>Sin Autoevaluacion</th>

          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let aspecto of tableLabels">
            <ng-container *ngFor="let question of getObjectKeys(question_averages[aspecto])">
              <tr>
                <td>{{ question }}</td>
                <td>{{ aspecto }}</td>
                <td>{{ question_averages[aspecto][question]?.Lider || 0 }}</td>
                <td>{{ question_averages[aspecto][question]?.Autoevaluacion || 0 }}</td>
                <td>{{ question_averages[aspecto][question]?.Lateral || 0 }}</td>
                <td>{{ question_averages[aspecto][question]?.Cliente || 0 }}</td>
                <td>{{ question_averages[aspecto][question]?.Colaborador || 0 }}</td>
                <td style="color:green;font-weight: bold;">{{average(aspecto,question)}}</td>
                <td style="color:green;font-weight: bold;">{{(average(aspecto,question)-question_averages[aspecto][question]?.Autoevaluacion).toFixed(2)}}</td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
      
 <div id="graficas">
    <canvas id="chart" width="800" height="100"></canvas></div>
    <div id="contentToConvert2">
    <canvas id="evaluators" width="800" height="400"></canvas>
    <canvas id="promedio" width="800" height="400"></canvas>
  </div>

  <div >
    <div id="adicional">
<div class="col colTable" *ngIf="lideres.length>0&&lideres[0].suggestions!=''">
  <div class="col colTable">
    Lider
    </div>
<div *ngFor="let item of lideres" class="row rowTable">

    <div class="col colTable">
     <div class="titles">
      Sugerencias<br/>
     </div>
   <div class="subtitle">
    {{item.suggestions}}
   </div>
    </div>
    <div class="col colTable">
    <div class="titles">
      Areas de oportunidad<br/>
    </div>
    <div class="subtitle">
      {{item.chance}}
    </div>
      </div>
      <div class="col colTable">
       <div class="titles">
        Fortalezas<br/>
       </div>
       <div class="subtitle">
        {{item.strengths}}
       </div>
        </div>
</div>
</div>

<div class="col colTable"  *ngIf="colaboradores.length>0&&colaboradores[0].suggestions!=''">
  <div class="col colTable">
    
    Colaborador
    </div>
<div *ngFor="let item of colaboradores" class="row rowTable">

    <div class="col colTable">
      <div class="titles">
        Sugerencias<br/>
       </div>
       <div class="subtitle">
        {{item.suggestions}}
       </div>
    </div>
    <div class="col colTable">
      <div class="titles">
        Areas de oportunidad<br/>
      </div>
      <div class="subtitle">
        {{item.chance}}
      </div>
      </div>
      <div class="col colTable">
        <div class="titles">
          Fortalezas<br/>
         </div>
         <div class="subtitle">
          {{item.strengths}}
         </div>
        </div>
</div>
</div>
<div class="col colTable">
  <div class="col colTable" *ngIf="cliente.length>0&&cliente[0].suggestions!=''">
    Clientes
    </div>
<div *ngFor="let item of cliente" class="row rowTable">

    <div class="col colTable">
      <div class="titles">
        Sugerencias<br/>
       </div>
       <div class="subtitle">
        {{item.suggestions}}
       </div>
    </div>
    <div class="col colTable">
      <div class="titles">
        Areas de oportunidad<br/>
      </div>
      <div class="subtitle">
        {{item.chance}}
      </div>
      </div>
      <div class="col colTable">
        <div class="titles">
          Fortalezas<br/>
         </div>
         <div class="subtitle">
          {{item.strengths}}
         </div>
        </div>
</div>
</div>
<div class="col colTable" *ngIf="lateral.length>0&&lateral[0].suggestions!=''">
  <div class="col colTable">
    Laterales
    </div>
<div *ngFor="let item of lateral" class="row rowTable">

    <div class="col colTable">
      <div class="titles">
        Sugerencias<br/>
       </div>
       <div class="subtitle">
        {{item.suggestions}}
       </div>
    </div>
    <div class="col colTable">
      <div class="titles">
        Areas de oportunidad<br/>
      </div>
      <div class="subtitle">
        {{item.chance}}
      </div>
      </div>
      <div class="col colTable">
        <div class="titles">
          Fortalezas<br/>
         </div>
         <div class="subtitle">
          {{item.strengths}}
         </div>
        </div>
</div>
</div>
<div class="col colTable" *ngIf="autoevaluacion.length>0&&autoevaluacion[0].suggestions!=''">
  <div class="col colTable">
    Autoevaluacion
    </div>
<div *ngFor="let item of autoevaluacion" class="row rowTable">

    <div class="col colTable">
      <div class="titles">
        Sugerencias<br/>
       </div>
       <div class="subtitle">
        {{item.suggestions}}
       </div>
    </div>
    <div class="col colTable">
      <div class="titles">
        Areas de oportunidad<br/>
      </div>
      <div class="subtitle">
        {{item.chance}}
      </div>
      </div>
      <div class="col colTable">
        <div class="titles">
          Fortalezas<br/>
         </div>
         <div class="subtitle">
          {{item.strengths}}
         </div>
        </div>
</div>
</div>
  </div>
      </div>
    </div>
 
  </div>
    </mat-card>
</div>