
    <nav class="navbar navbar-default navbar-fixed-top">
        <div>
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarMenu" aria-expanded="false" (click)="toggleMenu()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          </div>
          <div class="collapse navbar-collapse" [ngClass]="{'in': isMenuVisible}" id="navbarMenu">
            <ul class="nav navbar-nav">
                <li><img style="width: 50%;" src="assets/img/fondo.png" alt="Logo"></li>
            <li *ngFor="let item of links" [ngClass]="{'dropdown': item.menu_items}">
              <ng-container >
                <!-- Enlaces simples -->
                <a (click)="go(item.routeLink)"><i class="{{item.icon}}"></i> {{item.label}}</a>
                <li class="dropdown">
                    <div class="dropdown-content">
                      <li *ngFor="let subItem of item.menu_items">
                        <a (click)="go(subItem.routeLink)" ><i class="{{subItem.icon}}"></i> {{subItem.label}}</a>
                      </li>
                    </div>
                  </li>
              </ng-container>
      
  
              
            </li>
            <li><a href="#"><i class="fa fa-graduation-cap"></i> Cursos</a></li>
            <li><a href="#"><i class="fa fa-graduation-cap"></i> Cursos</a></li>
            <li><a href="#"><i class="fa fa-graduation-cap"></i> Cursos</a></li>
            <li><a href="#"><i class="fa fa-graduation-cap"></i> Cursos</a></li>
            <li><a href="#"><i class="fa fa-graduation-cap"></i> Cursos</a></li>
            <li><a href="#"><i class="fa fa-graduation-cap"></i> Cursos</a></li>
        

          </ul>
      
        </div>
        </div>
      </nav>
      
  
<div >
    
    <router-outlet></router-outlet>

</div>
