/* General container settings */
.container-imgs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Space between image and card */
}

.header-image {
  border-radius: 10px; /* Rounded corners */
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for effect */
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-responsive
{
  width: 100%;
}
.user-card {
  max-width: 500px; /* Set the max width of the card */
  width: 100%;
  border-radius: 12px; /* Rounded corners */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); /* Stronger shadow */
  transition: transform 0.3s ease-in-out; /* Animation for hover effect */
}
.animation:hover {
  transform: translateY(-20px); /* Hover effect to lift the card */
}
.user-card:hover {
  transform: translateY(-10px); /* Hover effect to lift the card */
}

.user-card mat-card-header {
  padding: 0;
}

.user-card mat-card-header img {
  width: 100%; /* Full width of the header */
  border-radius: 12px 12px 0 0; /* Rounded only at the top */
}

.user-info {
  text-align: center; /* Center text */
}

.user-info img.user-image {
  border-radius: 50%; /* Circular profile image */
  width: 100px; /* Fixed size for profile image */
  height: 100px;
  object-fit: cover; /* Crop image nicely */
  margin: 10px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.user-info h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #333; /* Darker text color */
}

.user-info p {
  font-size: 1rem;
  color: #777; /* Softer text color */
  margin: 0 15px 15px; /* Add some padding for better spacing */
}
.user-info p:hover {
  color: #0f0f82; /* Light blue color on hover */
}

.card-custom {
  border-radius: 15px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-header-custom {
  background-color: #235a98; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 20px; /* Espaciado */
  text-align: center; /* Centrado del texto */
  font-size: 1.5rem; /* Tamaño del texto */
  font-weight: bold; /* Texto en negrita */
  border-bottom: 4px solid #1cdb65; /* Borde inferior */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Opción para una transición suave al hacer hover */
.card-header-custom:hover {
  background-color: #1C4B78; /* Cambio de color al hacer hover */
  transition: background-color 0.3s ease; /* Transición suave */
}
.icon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}
.icon-list-blocks {
  display: block;
  flex-direction: column;
  align-items: flex-start;
}
.icon-item {
  display: flex;
  align-items: center; /* Alinea iconos y textos verticalmente */
  margin-bottom: 10px;
}

.icon-item i {
  width: 30px; /* Ancho fijo para los iconos */
  text-align: center; /* Alinea los iconos al centro de su contenedor */
  margin-right: 10px; /* Espaciado entre el ícono y el texto */
}

.icon-item span {
  flex-grow: 1;
}
.icon-item:hover i {
  color: #0056b3;
}
@media only screen and (max-width: 767px) {
  .header-image {
    max-width: 100%; /* Ocupa todo el ancho del contenedor */
    margin: 10%;
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 5px; /* Reducción del radio en móviles */
    box-shadow: none; /* O puedes usar una sombra más ligera si prefieres */
  }
}