<!-- home.component.html -->

<div class="home-container">
    <div class="background">
      <mat-card class="card-body">
  <div style="display:flex;gap:5%">
    <img class="logo"       src="assets/img/fondo.png" alt="Logo">

  </div>
      <!-- home.component.html -->
<div class="data">
  
<div class="title">Intranet</div>
<div class="subtitle"> <i class="fa-solid fa-user"></i>&nbsp; {{ getUser() }}</div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
<!-- ... restante de tu contenido -->

  
<div class="button-container" >
  <div *ngFor="let role of links">
  <button  *ngIf="role.label!='Home'&& role.label!='Cerrar sesion' && role.menu_items.length>0" class="bottos" mat-flat-button [color]="role.label === 'PLD' ? 'primary' : 'accent'" (click)="toggleSubMenu(role.label)">
  
  <div >

  <i [class]="role.icon"></i><br/>
    <div class="letter">{{ role.label }}</div>
    <mat-icon *ngIf="showSubMenu === role.label" class="sub-icon">keyboard_arrow_up</mat-icon>
    <div *ngIf="showSubMenu === role.label" class="sub-menu">
      <a *ngFor="let item of role.menu_items" (click)="go(item.routeLink,role.routeLink)" >{{ item.label }}</a>
    </div>
  </div>
  </button>
</div> </div>
      </mat-card>
   
  </div>
  