<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
  <div class="logo-container">
      <div class="logo-text" @fadeInOut >
        <img
        src="assets/logo/logo_trinitas.jpg"
        style="width: 80%;margin-left: -7%;"
        alt="Logo_Trinitas"
      />

    </div>
<div>
    <button class="logo" style="margin-left: -40px;margin-top:-5px;"  (click)="toggleCollapse()"><i class="fa-solid fa-bars"></i></button>

</div>
  </div>
  <div class="scrollwrap scrollwrap_delayed">
      <ul class="sidenav-nav">
          <li class="sidenav-nav-item" *ngFor="let data of navData">
              <a class="sidenav-nav-link" (click)="handleClick(data)"
                  *ngIf="data.items && data.items.length > 0"
           
              >
                  <i class="sidenav-link-icon" [class]="data.icon"></i>
                  <span class="sidenav-link-text" @fadeInOut >
                      {{data.label}}
                  </span>
                  <i *ngIf="data.items d" class="menu-collapse-icon"
                      [ngClass]="!data.expanded ? 'fal fa-angle-right' : 'fal fa-angle-down'"
                  ></i>
              </a>
  
              <a class="sidenav-nav-link"  
                  *ngIf="!data.items || (data.items && data.items.length === 0)"
                  [routerLink]="[data.routeLink]" 
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact: true}"
                  (click)="shrinkItems(data)"
                  >
                  <i class="sidenav-link-icon" [class]="data.icon"></i>
                  <span class="sidenav-link-text" @fadeInOut >
                      {{data.label}}
                  </span>
              </a>
              <div *ngIf=" data.items && data.items.length > 0&&data.expanded==true" (click)="toggleCollapse()">
                <li *ngFor="let item of data.items" class="sublevel-nav-item">
                    <a class="sublevel-nav-link"
                    (click)="toggleCollapse()"
                      *ngIf="item.items && item.items.length > 0"
                    
                    >
                      <i class="sublevel-link-icon fa fa-circle"></i>
                      <span class="sublevel-link-text" @fadeInOut  (click)="toggleCollapse()"
                          >{{item.label}}</span>
                      <i *ngIf="item.items " class="menu-collapse-icon"
                        [ngClass]="!item.expanded ? 'fal fa-angle-right' : 'fal fa-angle-down'"
                      ></i>
                    </a>
                    <a class="active-sublevel"
                      *ngIf="!item.items || (item.items && item.items.length === 0)"
                      [routerLink]="[item.routeLink]"
                      routerLinkActive="active-sublevel"
                      (click)="toggleCollapse()"
                      [routerLinkActiveOptions]="{exact: true}"
                    >
                    <div *ngIf="collapsed" class="active-sublevel">
                     
                        <i class="sidenav-link-icon" [class]="item.icon"></i> &nbsp;
                        <span class="sublevel-link-text" @fadeInOut (click)="toggleCollapse()">
                       
                          {{ item.label }}
                       
                        </span>
                     
                    </div>
                      <div *ngIf="!collapsed && screenWidth>700" class="active-sublevel">
                        <i class="sidenav-link-icon" [class]="item.icon"></i> &nbsp;
                      </div>
                      <div *ngIf="!collapsed && screenWidth<700" class="active-sublevel">
                        <i class="sidenav-link-icon" [class]="item.icon"></i> &nbsp;
                        <span class="sublevel-link-text" @fadeInOut (click)="toggleCollapse()">
                          {{ item.label }} 
                        </span>&nbsp;
                      </div>
                      
                    </a>
                 
                </li>
            </div>
          </li>
      </ul>
  </div>
</div>
<div >
  <router-outlet></router-outlet>
</div>
