<!-- template.component.html -->

<div class="history-container">
  <app-loading *ngIf="isLoading==true"></app-loading>                            

  <div style="text-align: center;">
    <span class="attempt-title">Historial de intentos realizados en el examen</span>
  </div>
  <div *ngIf="test.length !== 0" style="text-align: center;">
    <div class="table-responsive">
      <table class="table attempt-table">
        <thead>
          <tr>
            <th>Intento</th>
            <th>Calificación obtenida</th>
            <th>Preguntas correctas</th>
            <th>Fecha de finalización</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of test; let i = index">
            <tr *ngIf="i % 2 === 0" class="attempt-item">
              <td>{{test[i].attempts}}</td>
              <td>{{test[i].total_score}}</td>
              <td>{{test[i].correct_answers_count}}</td>
              <td>{{test[i].finish_date}}</td>
            </tr>
            <tr *ngIf="i % 2 !== 0" class="attempt-item">
              <td>{{test[i].attempts}}</td>
              <td>{{test[i].total_score}}</td>
              <td>{{test[i].correct_answers_count}}</td>
              <td>{{test[i].finish_date}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div *ngIf="test.length !== 0">
      <span class="attempt-title">Detalles</span>
      <div class="details-container">
        <div class="detail-item">
          <span class="detail-title">Intentos disponibles en este examen:</span>&nbsp; 
          <span class="detail-info" *ngIf="((test.length )!=getNumber(test[0].max_attempts))&&max < getNumber(test[0].min_score)">{{getNumber(test[0].max_attempts)-(test.length ) }}</span>&nbsp; 
          <span class="detail-info" *ngIf="((test.length )==getNumber(test[0].max_attempts))||max >= getNumber(test[0].min_score) ">0</span>&nbsp; 

        </div>
        <div class="detail-item">
          <span class="detail-title">Estatus:</span>&nbsp; 
          <span class="detail-info" style="color:green" *ngIf="max >= getNumber(test[0].min_score)">Acreditado</span>
          <span class="detail-info" style="color:red" *ngIf="max < getNumber(test[0].min_score)">Sin  acreditar</span>&nbsp; 

        </div>
        <div class="detail-item">
          <span class="detail-title">Calificación mínima:</span>&nbsp; 
          <span class="detail-info">{{ test[0].min_score }}</span>&nbsp; 
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="test.length === 0" class="no-records">
    <span>No hay registros disponibles aún.</span>
  </div>
</div>