<form (ngSubmit)="onConfirm()" *ngIf="active">
  <div class="modal-header">
      <h4 class="modal-title pull-left">
          {{title}}
      </h4>
      <button type="button" class="btn-close" (click)="hideConfirmationModal()" aria-label="Close">
      </button>
  </div>
  <div class="modal-body">
      <p>{{body}}</p>
  </div>
  <div class="modal-footer">
      <div class="text-right">
          <button type="button" class="btn btn-success" aria-label="Confirmar" (click)="onConfirm()">
              Confirmar
          </button>
          <button type="button" class="btn btn-default" aria-label="Cancelar" (click)="onCancel()">
              Cancelar
          </button>
      </div>
  </div>
</form>