
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import 'palette.scss';
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$adelanto-primary: mat.define-palette($my-primary-palette, 500, 300, 800);
$adelanto-accent: mat.define-palette($my-accent-palette, 300, 100, 600);

// The warn palette is optional (defaults to red).
$adelanto-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$adelanto-theme: mat.define-light-theme((
    color: (
    primary: $adelanto-primary,
    accent: $adelanto-accent,
    warn: $adelanto-warn,
    )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($adelanto-theme);

/* You can add global styles to this file, and also import other style files */
// Alertify
@import "../node_modules/alertifyjs/build/css/alertify.min.css";
@import "../node_modules/alertifyjs//build/css/themes/default.min.css";
// @import "../node_modules/alertifyjs/build/css/themes/bootstrap.min.css";

// FontAwesome
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

// Estilos personalizados
@import '../src/app/shared/styles/general-input.scss';
@import '../src/app/shared/styles/variables.scss';
@import '../src/app/shared/styles/generic-screen.scss';
@import "~ag-grid-community/styles/ag-grid.css";
@import "~ag-grid-community/styles/ag-theme-alpine.css";
@import url("survey-core/defaultV2.min.css");



// NG-Select
@import "~@ng-select/ng-select/themes/default.theme.css";

html, body { height: 100%; }
.mat-mdc-table {
    --mat-table-row-item-outline-width: 1px;
    table-layout: fixed!important; 
    /* white-space: normal; */
    background-color: var(--mat-table-background-color);
}
.form-no-background .mdc-text-field--filled:not(.mdc-text-field--disabled) {background-color: #ffffff !important;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.active-sublevel {
    // opacity: 1 !important;
    color: #1ebd60 !important;
    display: flex;
    text-align: center;
    justify-content: center;
}
body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.center-div {
    display: flex; /* Habilita flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}
.modern-title {
    font-family: 'Roboto', sans-serif; /* Fuente moderna */
    font-size: 1.5rem; /* Tamaño del texto */
    font-weight: 600; /* Grosor de la fuente */
    color: #858080; /* Color del texto */
    text-align: center; /* Centra el texto */
    position: relative; /* Necesario para el pseudo-elemento */
    margin: 20px 0; /* Espacio arriba y abajo */

    /* Estilo de subrayado moderno */
    &:after {
        content: ""; /* Pseudo-elemento */
        display: block; /* Hace que el elemento sea un bloque */
        width: 50%; /* Ancho del subrayado */
        height: 4px; /* Altura del subrayado */
        background: #1ebd60; /* Color del subrayado */
        margin: 10px auto; /* Centra el subrayado */
    }
}
.icon-color-blue {
    color: #4A90E2; /* Color azul */
  }
  
  .icon-color-green {
    color: #28a745; /* Color verde */
  }
  
  .icon-color-red {
    color: #dc3545; /* Color rojo */
  }
  .icon-color-purple {
    color: #b535dc; /* Color rojo */
  }
  .icon-color-orange {
    color: #dc8035; /* Color rojo */
  }
  
  .icon-color-yellow {
    color: #ffc107; /* Color amarillo */
  }
  .icon-size
  {
    width: 49px;
  }
.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;

    .card-head {
        padding: 1rem 1.5rem;
        border-bottom: 1px solid #edf1f7;
        font-size: 1rem;
        font-weight: 600;
    }

    .card-body {
        padding: 1rem 1.5rem; 
    }
}

mat-form-field {
    width: 100%;
}
/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

.bs-datepicker-body table td.week span 
{
    color: mat.get-color-from-palette($adelanto-primary, 600) !important;
}

.datepicker-80{
    min-height: 80%;
}

.bs-datepicker-body table td span.selected,
.bs-datepicker-head,
.bs-datepicker-head, .bs-datepicker button:active,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover 
{
    background-color: mat.get-color-from-palette($adelanto-primary, 600) !important;
}
.bgImageContainer2 {
    position: relative; /* Asegúrate de que sea relativo si necesitas z-index */
    z-index: 1; 
    min-height: 100vh; 
    width: 100%;
    height:100%;
    background: rgb(46, 117, 182);
    background: linear-gradient(to bottom right, #39add3, rgb(33, 113, 33));
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-size: 100% 100%;
  }