@import "~ag-grid-community/styles/ag-grid.css";
@import "~ag-grid-community/styles/ag-theme-alpine.css";



/* Estilos específicos para pantallas pequeñas (menos de 600px) */
@media screen and (max-width: 600px) {
  .table th,
  .table td {
    display: none;
  }
  .table thead {
    display: none;
  }
  .table tbody {
    display: block;
  }
}

  
  